.loading-spinner {
	width: 50px;
	height: 50px;
	border: 10px solid #26262c;
	border-top: 10px solid #e6e8e9;
	border-radius: 50%;
	animation: spinner 1.5s linear infinite;
}
.spinner-container {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
